@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin 'tailwind-scrollbar' {
    nocompatible: true;
    preferredStrategy: 'pseudoelements';
}

@theme {
    --font-sansation: 'Sansation', sans-serif;
    --font-notosans: 'Noto Sans', sans-serif;
    --color-primary-color: #1D1E2C;
    --color-secondary-color: #333347;
    --color-tertiary-color: #59656F;
    --breakpoint-xs: 480px;
}

@layer base {
    * {
        @apply m-0 p-0 box-border scroll-smooth;
    }

    body {
        @apply bg-primary-color text-[#1D1E2C] font-sansation scrollbar-active:bg-primary-color scrollbar scrollbar-w-2 scrollbar-thumb-[#B5BEC6] scrollbar-hover:scrollbar-thumb-[#59656F] scrollbar-track-white;
    }

    main {
        @apply md:ml-60 h-[calc(h-screen-80px)] mt-20;
    }
    
}

@layer utilities {
     .search {
        @apply  px-4 py-3 rounded-lg my-10 max-w-3xl mx-auto;

        & div {
            @apply relative flex items-center justify-center;
        }

        & img {
            @apply absolute left-2 h-5 w-5;
        }

        & input {
            @apply w-full bg-transparent placeholder-gray-500 py-1 ml-3 text-base text-gray-200 outline-none border-b-0 focus:border-b focus:border-gray-200 focus:w-2xs transition-all duration-300 text-center ease-in-out;
        }
    }

    .categories__list-items {
        @apply cursor-pointer px-4 py-2 hover:bg-[#9c27b0] active:bg-[#7b1fa2] transition duration-150 ease-in-out rounded-sm;
    }

    .all-movies {
    @apply space-y-10;
    & ul {
        @apply grid grid-cols-1 gap-5 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 ;
    }
    }

     .movie-card {
        @apply rounded-md shadow-inner p-2 m-3;

        & img {
            @apply h-auto w-full rounded-sm;
        }

        & h3 {
            @apply text-gray-100 font-bold text-base line-clamp-1;
        }

        & .content {
            @apply mt-2 flex flex-row items-center flex-wrap gap-2;
        }

        & .rating {
            @apply flex flex-row items-center gap-1 text-white;
        }

        & .rating img {
            @apply size-4 object-contain;
        }

        & .rating p {
            @apply font-bold text-base text-tertiary-color;
        }

        & .content span {
            @apply text-sm text-secondary-color;
        }

        & .content .lang {
            @apply capitalize text-tertiary-color font-medium text-base;
        }

        & .content .year {
            @apply text-tertiary-color font-medium text-base;
        }
    }

    .scrollbar-class {
        @apply scrollbar scrollbar-w-1.5 scrollbar-thumb-[#B5BEC6] scrollbar-hover:scrollbar-thumb-[#59656F] scrollbar-track-white scrollbar-active:bg-primary-color;
    }
}